/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on preprocessed data
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines everything required to start a run at assembly step.

    Use as follows:
        nextflow run nf-core/mag -profile preprocessed,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Profile for data that is already preprocessed'
    config_profile_description = 'For use with already preprocessed data'

    // Input data
    skip_krona                    = true
    skip_taxonomic_classification = true
    keep_phix                     = true
    skip_sr_adapter_trimming      = true
    skip_lr_adapter_trimming      = true
    skip_host_removal             = true
    skip_fastp                    = true
    skip_fastqc                   = true
}
