/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal test on preprocessed data
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test_preprocessed,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile for data that is already preprocessed'
    config_profile_description = 'Minimal test dataset to check pipeline function with preprocessed data'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input                         = 'https://raw.githubusercontent.com/nf-core/test-datasets/mag/samplesheets/samplesheet.csv'
    skip_krona                    = true
    min_length_unbinned_contigs   = 1
    max_unbinned_contigs          = 2
    gtdb                          = false
    skip_busco                    = true
    skip_taxonomic_classification = true
    keep_phix                     = true
    skip_sr_adapter_trimming      = true
    skip_lr_adapter_trimming      = true
    skip_host_removal             = true
    skip_fastp                    = true
    skip_fastqc                   = true
}
